.dealers::after {
    font: 800 40px system-ui;
    content: counter(count);
    animation: counter 4s linear infinite ;
    counter-reset: count 0;
  }
  
  @keyframes counter {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 2;
    }
    20% {
      counter-increment: count 4;
    }
    30% {
      counter-increment: count 6;
    }
    40% {
      counter-increment: count 8;
    }
    50% {
      counter-increment: count 10;
    }
    60% {
      counter-increment: count 12;
    }
    70% {
      counter-increment: count 12;
    }
    80% {
      counter-increment: count 12;
    }
    90% {
      counter-increment: count 12;
    }
    100% {
      counter-increment: count 12;
    }
  }

